* {
    font-family: "Montserrat";
    ;
}

.calendar-container {
    max-width: 1200px;
}

.last-month_btn,
.next-month_btn {
    width: 30px;
    height: 30px;
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

.calendar-header .year-month {
    font-size: 38px;
}

.weekdays .weekday {
    font-weight: 500;
}

.calendar-body .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #eee;
}

.calendar-body .dates>* {
    width: 100%;
    height: 17.5vh;
    border: 1px solid #eee;
}

.add-schedule_btn {
    right: 1vw;
    bottom: 8vw;
    width: 50px;
    height: 50px;
}

.last-month,
.next-month {
    background-color: #d5dbe0;
    color: #666;
}

.dates .date {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-block {
    overflow: auto;
}

.tag-color {
    display: inline-block;
    width: 8px;
    height: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
}

.schedule-title_tag {
    vertical-align: middle;
}

.date-schedule:hover {
    background-color: #eee;
    cursor: pointer;
}

.date-block:hover {
    box-shadow: -2px 0px 18px 2px rgba(13, 202, 240, 0.2);
}